@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: #ffffff;
    width: 100% ;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.logo{
    text-decoration: none;
    color: #000066;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.9em;
}

.navigation a {
    color: #000066;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 600;
    padding-left: 30px;
}

.navigation a:hover{
    color: #0066ff;
}

section {
    padding: 100px 100px;
}

.main {
    width:100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(images/3.jpg) no-repeat; 
    background-size:cover;
    background-position: right;
    background-attachment:fixed;
}

.main h2 {
    color: #000033;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin: 10px;
    color:#000066;
    font-size: 3em;
    font-weight: 600;
    font-family: 'Mohave', sans-serif;
    padding-top: 20px;
}

.main h3 {
    color: #00004d;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.linkedin{
    color: #333333;
}

.facebook{
    color: #333333;
}

.youtube{
    color: #333333;
}

.github{
    color: #333333;
}

.linkedin :hover{
    color: #0066ff;
}

.facebook :hover{
    color: #0165E1;
}

.youtube :hover{
    color: red;
}

.github :hover{
    color: #000016;
}

.main-btn {
    color: #ccffcc;
    background-color: seagreen;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover{
    background-color: teal;
    transform: scale(1.1);
}

.social-icons a{
    font-size: 1.7em;
    padding-right: 10px;
}

.social-iconss a{
    color: #fff;
    font-size: 1.7em;
    padding-right: 10px;
}

.photo :hover{
    transform: scale(1.1);
    transition: 2s ease;
}
    
.photo img{
    width: 500px;
    height: 500px;
    border-radius: 20%;
    margin-left: 50px;
    border: 5px solid teal;
}

.title {
    display: flex;
    justify-content: center;
    color: #003366;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 80px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.7s ease;
}

.card .icon {
    color: #3a46f4;
    font-size: 5em;
    text-align: center;
}

.info{
    text-align: center;    
}

.info h3 {
    color: #3a46f4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px; 
}

.edit{
    font-size: 15px;
}

.projects{
    background-color: #020308;
    padding-top: 5em;
}

.projects .content{
    margin-top: 2px;
}

.project-card{
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14px;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover{
    transform: scale(1.1);
}

.project-card:hover .project-image{
    opacity: 0.9;
}

.project-image img{
    width: 70%;
}

.project-info{
    padding: 1em;
}

.project-category{
    font-size: 01.8em;
    color: #000;
}

.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;  
}

.more-detalis{
    text-decoration: none;
    color: #3a46f4;
}

.more-detalis:hover{
    color: #62cebf;
}

.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;

}

.footer{
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span{
    color: #3399ff;
}

.footer .social-icons a {
    font-size: 2.5em;
    padding: 0 12px 0 0;
}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }
    
     .photo img{
        width: 300px;
        height: 300px;
        border-radius: 20%;
        margin: 0;
        border: 5px solid teal;
    }
    
     .photo :hover{
    transform: scale(1.1);
    transition: 1.3s ease;
}

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }

    footer {
        font-size: 0.5em;
        padding:50px 50px;

}
    
    .main {
        width:100%;
        min-height: 100vh;
        display: block;
        align-items: center;
        background:url(images/3.jpg) no-repeat; 
        background-size:cover;
        background-position: right;
        background-attachment:fixed;
    }

    .photo{
        display: flex;
        justify-content: center;
    }

    .photo img{
        width: 300px;
        height: 300px;
        border-radius: 20%;
        margin: 0;
        border: 5px solid teal;
    }
    
     .photo :hover{
    transform: scale(1.1);
    transition: 1.3s ease;
}
    
.navigation a{
    font-size: 8px;
}

.logo{
    font-size: 18px;
}
}

@media (max-width:300px){
    body{
        font-size: 10px;
    }

    header {
        padding: 3px 3px ;    
    }

    .logo{
        font-size: 10px;
    }

    .navigation a{
        font-size: 6px;
    }

    .main-content h2{
        font-size: 0.5em;
    }

    .main-content h3{
        font-size: 1em;
    }
    
    .main {
        width:100%;
        min-height: 100vh;
        display: block;
        align-items: center;
        background:url(images/3.jpg) no-repeat; 
        background-size:cover;
        background-position: right;
        background-attachment:fixed;
    }
    
    

    .photo{
        display: flex;
        justify-content: center;
    }

    .photo img{
        width: 250px;
        height: 250px;
        border-radius: 20%;
        margin: 0;
        border: 5px solid teal;
    }
    
    .photo :hover{
    transform: scale(1.1);
    transition: 1.3s ease;
}

    .project-card{
        min-height: 10px;
        width: 22em;
        margin: 12px;
    }

    footer {
        font-size: 5px;
}
}